<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Simple Blog</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}!</li>
                <li><a href="{% url 'profile' user.username %}">Profile</a></li>
                <li>
                    <a href="{% url 'user_list' %}">See All Users</a>
                </li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            <li><a href="{% url 'post_list' %}">Blog</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
